/*公共样式 begin*/
.modal-content{
    border-radius: 0;
    width: 568px;
}
.modal-header{
    border:none;
}
.form-group{
    margin-bottom: 15px;
}
.form-control{
    background-color: #f8fafb;
    height: 40px;
    border: 1px solid #f1f1f1;
    box-shadow: none;
}
button{
    width: 80px;
    height: 32px;
    font-size: 13px;
}
mt10{margin-top: 10px;}
.btn{
    border-radius: 20px;
}
.btn-blue{
    background-color: #357aed;
    color: white;
}
.btn-blue:hover{
    color: white;
}
.btn-default:hover{
    background-color: #357aed;
    color: white;
}
.dropdown-menu li a{
    display: flex;
    justify-content: center;
}
.dropdown-menu>li>a:hover{
    color: #357aed;
}
#messages{
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    color: white;
    line-height: 20px;
    border-radius: 50%;
    background-color: #357aed;
    position: absolute;
    top: 20px;
    left: 90px;
}
.caret{margin-left: 8px!important;}
p{margin: 0;}
.asterisk{
    display: block;
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    color: #357aed;
    line-height: 40px;
    position: absolute;
    top: 3px;
    right: -24px;
}
.form-horizontal .cfmPWD {
    /*margin-left: 20%;
    width: 60%;*/
    white-space: nowrap;
    background-color: #fff8f4;
    border: 1px solid #e3abb9;
    line-height: 20px;
    padding: 2px 4px;
    overflow: hidden;
    font-size: 12px;
    color: #e57b89;
    margin-bottom: 10px;
}
.opacity0{
    opacity: 0;
}
.opacity1{
    opacity: 1;
}
/*公共样式 end*/
body{
    background-color: #edf2f6;
    font-size: 14px;
}
.content .content-left{
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    z-index: 1;
    background: linear-gradient(#334556,#2C4257),#2A3F54;
}
.content .content-left .logo{
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #357aed;
    color: white;
}
.content .content-left .logo .img-box{
    height: 50%;
    width: 100%;
}
.content-left .logo .img-box img{
    width: 100%;
    height: 100%;
}
#sidebar-menu{
    position: relative;
    z-index: 9999;
}
.menu_section>ul{
    margin-top: 0;
}
#sidebar-menu .side-menu li{
    border-right: 5px solid transparent;
    height: 114px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;;
    min-height: 80px;
}

#sidebar-menu .side-menu li img{
    height: 28px;
    width: 28px;
}
#sidebar-menu .side-menu li.activate{
    text-shadow: rgba(0,0,0,.25) 0 -1px 0;
    background: linear-gradient(#334556,#2C4257),#2A3F54;
    box-shadow: rgba(0,0,0,.25) 0 1px 0, inset rgba(255,255,255,.16) 0 1px 0;
    border-right: 5px solid #357aed;
}
.nav>li>a{
    padding-top: 12px;
}
.content-right{
    min-width: 800px;
    padding-left:150px;
}
.content-right .nav_menu{
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 1;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: white;
    height: 100px;
    padding-left: 64px;
    padding-right:160px; 
}
 nav .navbar-nav{
    
 }
 nav .search{
    margin-top: 8px;
    width: 20vw;
    position: relative;
    min-width: 250px;
}
nav .search input{
    width: 20vw;
    background: #f8fafb;
    color: #acbac5;
    /*border: none;*/
    border-radius: 20px;
    box-shadow: none;
    height: 40px;
    min-width: 250px;
}
nav .search button{
    position: absolute;
    right: 0;
    top: 1px;
    background: none;
    border: none;
    box-shadow: none;
    height: 38px;
    width: 40px;
    z-index: 999;
}
.navbar-nav .open .dropdown-menu{
    width: 60px;
}
.module-container{
    position: relative;
}
@media screen and (max-width:1050px){
    .content .content-left{width: 80px;}
    .content .content-left a{display: none;}
    .content .content-left #sidebar-menu li img{height:40px;width:40px;margin-top: 10px;}
    .content .content-right{padding-left: 80px;}
    nav{padding-right: 80px;}
}
@media screen and (max-width:776px){
    .content .content-left{
        display: none;
    }
    .content .content-right{
        padding-left: 0;
    }
    nav{display: none}
}
@media screen and (max-width:500px){
    .content{
        display: none;
    }
}
/*@media screen and (max-width:1280px){
    #canvas{
        width: 
    }
}*/
/*识别记录样式 begin*/
.record{
    background: #edf2f6;
}
.top-nav{
    padding: 0 4%;
    background-color: #f8fafb;
}
.ml24{
    margin-left: 24px;
}
.top-nav .ml{
    margin-left: 40px;
}
.table{
    padding-left: 64px;
    padding-right: 64px;
}
.table .personal-info{
     height: 90px;
     width: 100%;
     padding-right: 40px;
     position: relative;
     background-color: white;
}
.table .personal-info .img-box{
    position: absolute;
    width: 20px;
    height: 20px;
    top: -4px;
}
.table .personal-info .img-box img{
    width: 20px;
    height: 20px;
}
.personal-info ul{
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin-top: 12px;
}
.personal-info ul li img{
    border-radius: 50%;
    margin-left: 40px;
}

.personal-info ul li{
    float: left;
    line-height: 90px;
    list-style: none; 
}
.personal-info ul li:nth-child(1){
    min-width: 200px;
}
.personal-info ul li:nth-child(1) span{
    margin-left: 24px;
}
.personal-info ul li:nth-child(3){
    width: 12vw;
    display: flex;
    justify-content: center;
}
.personal-info ul li:nth-child(5){
    width: 16vw;
    display: flex;
    justify-content: center;
}

.personal-info ul li{
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.personal-info ul li button{
    width: 4vw;
    height: 32px;
    border-radius: 32px;
    min-width: 60px;
}


/*识别记录样式 end*/

/*入户审批样式 begin*/
.approval{
    background: #edf2f6;
}
/*入户审批样式 end*/

/*人员管理样式 begin*/
.people-management .info-content{
    padding-left: 64px;
    padding-right: 64px;
}
.people-management .info-content .info{
    width: 150px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: 46px 20px;
    background-position-x: 2px;
    background-position-y: 2px;
    padding: 20px 0;
    border: 1px solid #e6ebee;
    margin-top: 18px;
    margin-right: 15px;
    background-color: white;
}

.people-management .info-content .info .info-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.info .btn-people-del{
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background-color: #ed354b;
    color: white;
    font-size: 24px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    cursor: pointer;
}
.info:hover .btn-people-del{
    display: block;
}
.info .info-box p:nth-child(2){
    color: black;
    margin-top: 12px;
    margin-bottom: 6px;
}
.info .info-box p:nth-child(3){
    margin-bottom: 15px;
    font-size: 12px;
    color: #bdc2ca;
}
.people-management .info-content .info .img-box{
    width: 30%;
}
.people-management .info-content .info .img-box img{
    width: 100%;
    border-radius: 50%;
}
/*人员管理样式 end*/
.hidden{
    display: none;
}
/*修改密码样式 begin*/
#changePWD{

}
#changePWD .eyes{
    display: block;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 0px;
    right: 10px;
}
/*修改密码样式 end*/