.left {
  position: fixed;
  width: 200px;
  left: 0;
  top: 0;
  height: 100%;
  background-color: lightblue;
}
.left .profile .image-container {
  width: 80px;
  height: 80px;
  margin: 20px auto;
}
.right {
  position: absolute;
  left: 200px;
  right: 0;
  min-height: 600px;
}
.right .right-top {
  line-height: 34px;
  margin-bottom: 0;
}
