/*公共样式 begin*/
html,
body {
    height: 100%;
}
body {
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0!important;
}
p,h1,h2,h3,h4,h5{
    margin: 0;
    padding: 0;
}
/*文字样式 begin*/
.reminder_text{
    font-size: 12px;
    color: #a6b5c1;
}
.info_text{
    font-size: 13px;
    color: #576780;
}
.iptinfo_text{
    font-size: 13px;
    color: #000;
}
/*文字样式 end*/
.modal-content {
    border-radius: 0;
    width: 568px;
    padding:0 0 5px 0; 
    vertical-align: center;
    margin: 0!important;
    -webkit-box-shadow: none;
    box-shadow:none;
}
.modal-content button{
    margin-top: 10px;
}
.modal-dialog{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.modal-header {
    border: none;
    padding-top: 30px;
    padding-left: 30px;
}
.modal-header button{
    display: block;
    width: 30px;
    height: 30px;
    background-color: #edf2f6;
    text-align: center;
    line-height: 30px;
    opacity:1;
    color:#000;
    margin:0!important;
    padding:0;
    position: absolute;
    top: 0;
    right: 0;
}
.modal-header button span {
    display: block;
    width: 30px;
    margin:0;
    padding:0;
    height: 30px;
    background-color: #edf2f6;
    text-align: center;
    line-height: 30px;
    opacity:1;
    color:#000;
    position: absolute;
    top: 0;
    right: 0;
}
.form-control::-webkit-input-placeholder{
    font-weight: normal;
    font-size: 14px;
    color: #acbac5;
}
.form-control::-moz-placeholder{
    font-weight: normal;
    font-size: 14px;
    color: #acbac5;
}
.form-control:-ms-input-placeholder{
    font-weight: normal;
    font-size: 14px;
    color: #acbac5;
}
.dropdown{
    margin-top: 7px;
    margin-left: -6px!important;
    margin-right: 45px;
    cursor: pointer;
    color: #000;
    /*height: 25px;*/
}
.dropdown-menu{
    margin: 0!important;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{
    background-color: #357aed;
}
.caret{
    color: #576780;
}
.btn,button{
    margin-bottom: 0;
}
.dropdown:hover .caret{
    transform: rotate(180deg);
}
.caret_down{
    transform: rotate(180deg);
}
#psDropdown,
#sysDropdown{
    margin: 0!important;
}
.top_nav .nav .open>a, .top_nav .nav .open>a:focus, .top_nav .nav .open>a:hover, .top_nav .nav>li>a:focus, .top_nav .nav>li>a:hover {
    background: transparent;
}
.modal-title {
    font-size: 18px;
    color: #576780;
}
/*清除下拉框默认箭头*/
select.form-control{
    appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari 和 Chrome */
    background-image: url(../imgs/triangle_down.png);
    background-position: 270px center;
    background-repeat: no-repeat;
}
select.triangle_down{
    background-image: url(../imgs/triangle_up.png);
}
.form-group {
    margin-bottom: 15px;
}
.panel-body{
    border-top: 0!important;
}
.form-control {
    background-color: #f8fafb;
    height: 40px;
    border: 1px solid #f1f1f1;
    box-shadow: none;
}
.bdcolor{
    color: #e6ebee;
}
/*间距样式 begin*/
.mt8 {
    margin-top: 8px;
}
.mt10 {
    margin-top: 10px;
}
.mt16 {
    margin-top: 16px;
}
.mt18 {
    margin-top: 18px;
}
.mt24 {
    margin-top: 24px;
}
.ml10{
    margin-left: 10px;
}
.ml20{
    margin-left: 20px;
}
.ml24 {
    margin-left: 24px;
}
.ml28{
    margin-left: 28px;
}
.ml66{
    margin-left: 66px;
}
.mb32{
    margin-bottom: 32px;
}
.mb11{
    margin-bottom: 11px;
}
.mr32{
    margin-right: 32px;
}
/*间距样式 end*/
.btn {
    border-radius: 20px;
}
button {
    width: 80px;
    height: 32px;
    font-size: 13px;
}
.btn:active,
.btn:focus {
    color: white!important;
    background-color: #296ee1!important;
}
.btn-blue {
    background-color: #357aed;
    color: white;
}

.btn-blue:hover {
    color: white;
}
.btn-refuse:hover {
    background-color: #ed354b!important;
    color: white!important;
    border: none;
}
.btn-refuse:active,
.btn-refuse:focus {
    color: white!important;
    background-color: #ed354b!important;
}
.btn-default:hover {
    background-color: #357aed;
    color: white;
    border: none;
}
.dropdown-menu li a {
    display: flex;
    justify-content: center;
}
.dropdown-menu>li>a:hover {
    color: #357aed;
}
.user-profile img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 10px;
}
#messages {
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    color: white;
    line-height: 20px;
    border-radius: 50%;
    background-color: #357aed;
    position: absolute;
    top: 20px;
    left: 90px;
}
.config-icon {
    display: block;
    width: 22px;
    height: 36px;
    background: url(../imgs/config-icon.png) no-repeat center 9px;
}
.dropdown-menu>li>a {
    padding: 7px 20px;
}
.search-icon {
    background: url(../imgs/search-icon.png) no-repeat center center!important;
}
.eye-close {
    background: url(../imgs/eyes-close.png) no-repeat center center!important;
}
.eye-open {
    background: url(../imgs/eyes-open.png) no-repeat center center!important;
}
.caret {
    margin-left: 8px!important;
}
.asterisk {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    color: #357aed;
    line-height: 40px;
    position: absolute;
    top: 3px;
    right: -24px;
}

.form-horizontal .cfmPWD {
    white-space: nowrap;
    background-color: #fff8f4;
    border: 1px solid #e3abb9;
    line-height: 20px;
    padding: 2px 4px;
    overflow: hidden;
    font-size: 12px;
    color: #e57b89;
    margin-bottom: 10px;
}
.opacity0 {
    opacity: 0;
}
.opacity05{
    opacity: .5;
}
.opacity1 {
    opacity: 1;
}
.displayN {
    display: none!important;
}
.displayB {
    display: inline-block!important;
}
.black {
    color: black;
}
.noResult{
    background-image: url(../imgs/noResult.png);
}
.pages{
    width:100%;
    margin-top:20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.device .pages{
    margin-top:-38px;
}
.img_info_box{
    width: 120px;
}
#sidebar-menu .side-menu li:hover{
    border-color: #357aed!important;
}
/*公共样式 end*/
body {
    background-color: #edf2f6;
    font-size: 14px;
}
.content .content-left {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    z-index: 1;
    background-color: #151a22;
}
.content .content-left .logo {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #357aed;
    color: white;
}
.content .content-left .logo .img-box {
    height: 50%;
    width: 100%;
}
.content-left .logo .img-box img {
    width: 100%;
    height: 100%;
    padding: 0 30px;
}
#sidebar-menu {
    position: relative;
    z-index: 9999;
}
.menu_section>ul {
    margin-top: 0;
}
#sidebar-menu .side-menu li {
    border-right: 5px solid transparent;
    height: 114px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    min-height: 80px;
}
#sidebar-menu .side-menu li .img-icon {
    height: 30px;
    width: 30px;
}
#sidebar-menu .side-menu #btnRecord .img-icon {
    background-image: url(../imgs/recrd-icon-0.png);
}
#sidebar-menu .side-menu #btnApproval .img-icon {
    background-image: url(../imgs/approval-icon-0.png);
}
#sidebar-menu .side-menu #btnPeopleManager .img-icon {
    background-image: url(../imgs/peopleManager-icon-0.png);
}
#sidebar-menu .side-menu li.activate {
    text-shadow: rgba(0, 0, 0, .25) 0 -1px 0;
    background: linear-gradient(#334556, #2C4257), #2A3F54;
    border-right: 5px solid #357aed;
    color: white;
    opacity: .8;
}
#sidebar-menu .side-menu #btnRecord.activate .img-icon {
    background-image: url(../imgs/recrd-icon-1.png);
}
#sidebar-menu .side-menu #btnApproval.activate .img-icon {
    background-image: url(../imgs/approval-icon-1.png);
}
#sidebar-menu .side-menu #btnPeopleManager.activate .img-icon {
    background-image: url(../imgs/peopleManager-icon-1.png);
}
#sidebar-menu .side-menu #btnUsersManager.activate .img-icon {
    background-image: url(../imgs/userManager-icon-1.png);
}
.nav>li>.img-icon {
    margin-bottom: 12px;
}
.content-right {
    min-width: 800px;
    padding-left: 150px;
}
.content-right .nav_menu {
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 1;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: white;
    height: 100px;
    padding-left: 64px;
    padding-right: 160px;
    border-bottom: 1px solid #e6ebee;
}
.search {
    margin-top: 8px;
    width: 20vw;
    position: fixed;
    min-width: 250px;
    top: 20px;
    left: 214px;
    z-index: 8;
}
.search input {
    width: 20vw;
    background: #f8fafb;
    color: #000;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: none;
    height: 40px;
    min-width: 250px;
}
.search button {
    position: absolute;
    right: 0;
    top: 1px;
    background: none;
    border: none;
    box-shadow: none;
    height: 38px;
    width: 40px;
    z-index: 999;
}
.navbar-nav {
    position: absolute;
    right: 150px;
}
.navbar-nav .open .dropdown-menu {
    width: 60px;
}

.module-container {
    position: relative;
}
@media screen and (max-width:1280px) {
    .datetimepicker.dropdown-menu {
        position: fixed;
        top: 20vw!important;
    }
}
@media screen and (max-width:1050px) {
    .logo-img{
        opacity: 0!important;
    }
    .content .content-left {
        width: 80px;
    }
    .content .content-left a {
        display: none;
    }
    .content .content-left #sidebar-menu li img {
        height: 40px;
        width: 40px;
        margin-top: 10px;
    }
    #messages {
        left: 50px;
    }
    .content .content-right {
        padding-left: 80px;
    }
    nav {
        padding-right: 80px;
    }
}
@media screen and (max-width:776px) {
    .content .content-left {
        display: none;
    }
    .content .content-right {
        padding-left: 0;
    }
    nav {
        display: none
    }
}
@media screen and (max-width:500px) {
    .content {
        display: none;
    }
}

/*识别记录样式 begin*/
.record {
    background: #edf2f6;
}
.top-nav {
    padding: 0 71px 0 68px;
    background-color: #f8fafb;
}
.top-nav .ml {
    margin-left: 40px;
}
.table {
    padding-left: 64px;
    padding-right: 64px;
}
.table .personal-info {
    height: 90px;
    width: 100%;
    padding-right: 40px;
    position: relative;
    background-color: white;
}
.table .personal-info .img-box {
    position: absolute;
    width: 28px;
    height: 25px;
    top: -4px;
}
.table .personal-info .img-box img {
    width: 28px;
    height: 25px;
}
.personal-info ul {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin-top: 12px;
}
.personal-info ul li img {
    margin-left: 40px;
    position: absolute;
    left: 0;
}
.personal-info ul li {
    float: left;
    line-height: 90px;
    list-style: none;
}
.personal-info ul li:nth-child(1) {
    min-width: 200px;
}
.personal-info ul li:nth-child(1) span {
    position: absolute;
    margin-left: 24px;
    max-width: 30px;
}
.personal-info ul li {
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#modalEditRecord .people-visitor-record {
    padding-left: 20px;
    padding-right: 20px;
}

#modalEditRecord .info-box {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
}
p{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
#modalEditRecord .info-box .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 25%;
    margin-bottom: 18px;
    border-bottom: 1px solid #dedeed;
}
.record_time{
    padding-left:30px;
}
#modalEditRecord .info-box .info .img-box {
    margin-bottom: 10px;
}
#modalEditRecord .info-box .info .similarity {
    display: block;
    position: absolute;
    top: 38px;
    color: white;
    background-color: #000;
    width: 50px;
    height: 12px!important;
    line-height: 12px;
    text-align: center;
    opacity: .5;
}
#modalEditRecord .info-box .info p {
    margin-top: 0px;
    margin-bottom: 18px;
}
/*识别记录样式 end*/

/*入户审批样式 begin*/
.approval {
    background: #edf2f6;
}
.approvaled{
    color: #a6b5c1;
}
/*入户审批样式 end*/

/*人员管理样式 begin*/
.people-management .info-content {
    padding-left: 64px;
    padding-right: 64px;
}
.people-management .info-content .info {
    width: 180px;
    background-repeat: no-repeat;
    background-size: 46px 21px;
    background-position-x: 2px;
    background-position-y: 2px;
    padding: 24px 0;
    border: 1px solid #e6ebee;
    margin-top: 18px;
    padding: 24px;
    margin-right: 12px;
    background-color: white;
    overflow: hidden;
}
.people-management .info-content .info .info-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.info .btn-people-del {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background-color: #ed354b;
    color: white;
    font-size: 24px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    cursor: pointer;
}
.info:hover .btn-people-del {
    display: block;
}
.info .info-box p:nth-child(2) {
    color: black;
    margin-top: 16px;
    margin-bottom: 4px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    text-align: center;
}
.info .info-box p:nth-child(3) {
    margin-bottom: 16px;
    font-size: 12px;
    color: #bdc2ca;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow:ellipsis;
    text-align: center;
}
.people-management .info-content .info .img-box {
    width: 100px;
    height: 100px;
}
.people-management .info-content .info .img-box img {
    width: 100%;
    height: 100%;
}
.btnAdd {
    position: fixed;
    bottom: 62px;
    right: 86px;
    width: 84px;
    height: 84px;
    z-index: 999;
    cursor: pointer;
    background: url(../imgs/btn-add_0.png) no-repeat center center;
}
.btnAdd:hover {
    background: url(../imgs/btn-add_1.png) no-repeat center center;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}
.img-box{
    position: relative;
}
.camera_icon{
    display: block;
    position: absolute;
    bottom: -11px;
    right: -11px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #357aed;
    background-image: url(../imgs/headimages_icon.png);
    background-size: 22px 22px;
}
.secPIC{
    background-image: url(../imgs/uploadIMG.png);
    background-size: 100px 100px;
    border: 1px solid #dedeed;
    display: block;
}
.secPIC:hover{
    background-image: url(../imgs/uploadIMG_hover.png);
}
.success_record{
    height:16px; 
    background-image: url(../imgs/right-icon.png);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position-x: 52px;
}
#job_select{
    position: absolute;
    width: auto;
    top: 469px;
    left: 159.484px;
    display: block;
    z-index: 9999;
    border: 1px solid #dedeed;
}
#job_select li a{
    display: block;
    padding: 3px 0px;
    width: 292.66px;
    font-size: 12px;
    color: #000;
    background-color:#fff;
}
#job_select li a:hover{
    background-color:#357aed;
    color: #fff;
}
#modalPeopleChoicePicture .info-box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#modalPeopleChoicePicture .info-box .info{
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    margin-bottom: 3px;
    border: 3px solid transparent;
    cursor: pointer;
}
#modalPeopleChoicePicture .info-box .choiceCamera{
    opacity: .5;
}
#modalPeopleChoicePicture .info-box .choiceCamera:hover{
    opacity: 1;
}
#modalPeopleChoicePicture .info-box .replaceIMG:hover{
    border-color: #357aed;
}
/*人员管理样式 end*/
.hidden {
    display: none;
}
/*修改密码样式 begin*/
#changePWD .eyes {
    display: block;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 0px;
    right: 10px;
    z-index: 1;
}
/*修改密码样式 end*/

/*设备管理样式 begin*/
.device {
    margin: 13px 64px 0 64px;
    background-color: #fff;
    padding: 0 10px;
}
.device .panel-heading {
    height: 45px;
}
.device .title {
    font-size: 18px;
    color: #000;
    margin-top: 8px;
}
.btn-device-edit {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: url(../imgs/edit-icon_0.png) no-repeat center center;
}
.btn-device-del {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 78px;
    background: url(../imgs/del-icon_0.png) no-repeat center center;
}
.btn-device-edit:hover {
    background: url(../imgs/edit-icon_1.png) no-repeat center center;
}
.btn-device-del:hover {
    background: url(../imgs/del-icon_1.png) no-repeat center center;
}
.btn-post-edit {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: url(../imgs/edit-icon_0.png) no-repeat center center;
}
.btn-post-del {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 78px;
    background: url(../imgs/del-icon_0.png) no-repeat center center;
}
.btn-post-edit:hover {
    background: url(../imgs/edit-icon_1.png) no-repeat center center;
}
.btn-post-del:hover {
    background: url(../imgs/del-icon_1.png) no-repeat center center;
}
.disCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.deviceTable {
    background-color: white;
    border: 1px solid #e6ebee;
    color: #576780;
}
.deviceTable thead {
    background-color: #f8fafb;
    color: #576780;
    font-size: 14px;
}
.deviceTable tr {
    border-top: 1px solid #e6ebee;
}
.deviceTable tbody tr td {
    /*padding: 0 0 0 30px;*/
    height: 40px;
    /*max-width: 300px;*/
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 40px;
    border-top: 0px;
    box-sizing: border-box;
}
.table > thead > tr > th{
    border-bottom: 0;
}
/*设备管理样式 end*/

/*拍照界面样式 begin*/
.boxx{
    display: flex;
    justify-content: space-between;
    width: 640px;
    margin-bottom: 24px;
}
.hintInfo{
    margin-top: 30px;
}
.hintInfo .info{
    color: #fff;
    margin-left: 5px;
}
.picture {
    width: 40px;
    height: 40px;
    margin-top: 20px;
    background: url(../imgs/photography-icon.png) no-repeat center center;
}
.picture1,.picture2,#start{
    cursor: pointer;
}
#re-photographed {
    width: 80px;
    height: 32px;
    font-size: 13px;
}
/*拍照界面样式 end*/

/*个人中心样式 begin*/
.ewm_box{
    margin-left: 156px;
    display: flex;
    justify-content: space-between;
}
.ewm_box .right_cont{
    display: flex;
    width: 216px;
    margin-right:42px; 
    flex-direction: column;
    justify-content: space-between;
}
.ewm_box .right_cont a{
    text-decoration:underline; 
    color: #000;
}
/*个人中心样式 end*/