/*公共样式 begin*/
.modal-content{
    border-radius: 0;
    width: 45vw;
}
.modal-header{
    border:none;
}
.form-control{
    background-color: #f8fafb;
    height: 40px;
    border: 1px solid #f1f1f1;
    box-shadow: none;
}
button{
    width: 80px;
}
.btn{
    border-radius: 20px;
}
.btn-blue{
    background-color: #357aed;
    color: white;
}
.btn-default:hover{
    background-color: #357aed;
}
.dropdown-menu li a{
    display: flex;
    justify-content: center;
}
.dropdown-menu>li>a:hover{
    color: #357aed;
}
/*公共样式 end*/
body{
    background-color: #edf2f6;
}
.content .content-left{
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    z-index: 1;
    background: linear-gradient(#334556,#2C4257),#2A3F54;
}
.content .content-left .logo{
    height: 17vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content .content-left .logo .img-box{
    height: 100%;
    width: 100%;
}
.content-left .logo .img-box img{
    width: 100%;
    height: 10vh;
}
#sidebar-menu{
    position: relative;
    z-index: 9999;
}
#sidebar-menu .side-menu li{
    height: 17vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4vh;
    min-height: 80px;
}

#sidebar-menu .side-menu li img{
    height: 40px;
    width: 40px;
}
#sidebar-menu .side-menu li.activate{
    text-shadow: rgba(0,0,0,.25) 0 -1px 0;
    background: linear-gradient(#334556,#2C4257),#2A3F54;
    box-shadow: rgba(0,0,0,.25) 0 1px 0, inset rgba(255,255,255,.16) 0 1px 0;
    border-right: 5px solid #2767d8;
}

.content-right{
    min-width: 800px;
    padding-left:200px;
}
.content-right .nav_menu{
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 1;
}
.top_nav .navbar-right{
    width: 55%;
}
nav{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: white;
    height: 100px;
}
 nav .search{
    margin-left: 4%;
    margin-top: 8px;
    width: 20vw;
    position: relative;
    min-width: 250px;
}
nav .search input{
    width: 20vw;
    background: #f8fafb;
    color: #acbac5;
    /*border: none;*/
    border-radius: 20px;
    box-shadow: none;
    height: 40px;
    min-width: 250px;
}
nav .search button{
    position: absolute;
    right: 0;
    top: 1px;
    background: none;
    border: none;
    box-shadow: none;
    height: 38px;
    width: 40px;
    z-index: 999;
}
.navbar-nav .open .dropdown-menu{
    width: 60px;
}
.module-container{
    position: relative;
}
@media screen and (max-width:1050px){
    .content .content-left{width: 80px;}
    .content .content-left a{display: none;}
    .content .content-left #sidebar-menu li img{height:40px;width:40px;margin-top: 10px;}
    .content .content-right{padding-left: 80px;}
}
@media screen and (max-width:750px){
    .content .content-left{
        display: none;
    }
    .content .content-right{
        padding-left: 0;
    }
}
@media screen and (max-width:500px){
    .content{
        display: none;
    }
}
/*@media screen and (max-width:1280px){
    #canvas{
        width: 
    }
}*/
/*识别记录样式 begin*/
.record{
    background: #edf2f6;
}
.top-nav{
    padding: 0 4%;
    background-color: #f8fafb;
}
.top-nav .btn{
    border: none;
    margin: 0;
    margin-left: 1vw;
}
.table{
    width: 90%;
    margin-left: 5%;
}
.table .personal-info{
     height: 80px;
     width: 100%;
     position: relative;
     background-color: white;
}
.table .personal-info .img-box{
    position: absolute;
    width: 20px;
    height: 20px;
    top: -5px;
}
.table .personal-info .img-box img{
    width: 20px;
    height: 20px;
}
.personal-info ul{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin-top: 10px;
}
.personal-info ul li img{
    border-radius: 50%;
    margin-left: 20px;
}

.personal-info ul li{
    float: left;
    line-height: 80px;
    list-style: none; 
}
.personal-info ul li:nth-child(1){
    width: 12vw;
    min-width: 120px;
}
.personal-info ul li:nth-child(1) span{
    margin-left: 1vw;
}
.personal-info ul li:nth-child(3){
    width: 12vw;
    display: flex;
    justify-content: center;
}
.personal-info ul li:nth-child(5){
    width: 16vw;
    display: flex;
    justify-content: center;
}
/*.personal-info ul li:nth-child(7){
    width: 12vw;
    display: flex;
    justify-content: center;
}*/
.personal-info ul li{
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.personal-info ul li button{
    width: 4vw;
    height: 30px;
    border-radius: 30px;
    min-width: 60px;
    margin-right: 1vw;
}


/*识别记录样式 end*/

/*入户审批样式 begin*/
.approval{
    background: #edf2f6;
}
/*入户审批样式 end*/

/*人员管理样式 begin*/

.people-management .personal-info .info{
    /*width: 300px;*/
    /*height: 400px;*/
    background-repeat: no-repeat;
    background-size: 60px 20px;
    background-position-x: 5px;
    background-position-y: 5px;
    padding: 20px 0;
    border: 1px solid gray;
    margin-left:2vw; 
    background-color: white;
}

.people-management .personal-info .info .info-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.people-management .personal-info .info .info-box p{
    font-size: 16px;
}
.info .info-box p:nth-child(2){
    color: black;
}
.info .info-box p:nth-child(3){
    font-size: 14px;
    color: #bdc2ca;
}
.people-management .personal-info .info .img-box{
    width: 30%;
}
.people-management .personal-info .info .img-box img{
    width: 100%;
    border-radius: 50%;
}
/*人员管理样式 end*/
.hidden{
    display: none;
}
