.form-bg{
    height: 100vh;
    background: url(../imgs/login/bg.png) no-repeat;
    background-size: cover;
    font-family: "微软雅黑";
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-box{
    width: 440px;
    height: 300px;
    margin-right: 50px;
}
.rows{
    width: 533px;
    height: 383px;
    margin: 0;
    background: url(../imgs/login/login-box.png) center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-horizontal{
    height: 380px;
    width: 430px;
    border-radius: 5px;
    background: #fff;
    padding-bottom: 40px;
    text-align: center;
}
.form-horizontal .heading{
    display: block;
    font-size: 18px;
    font-weight: 700;
    padding-top: 64px;
    padding-bottom: 48px;
    color: #357ade;
}
.form-horizontal .heading .line{
    font-size: 20px;
    font-weight: 100;
    color: #ddd;
    margin: 0 8px;
}
.form-horizontal .heading .login{
    color: #000;
}
.form-horizontal .login_error_wrap {
    margin-left: 20%;
    width: 60%;
    white-space: nowrap;
    background-color: #fff8f4;
    border: 1px solid #e3abb9;
    line-height: 20px;
    padding: 2px 4px;
    overflow: hidden;
    font-size: 12px;
    color: #e57b89;
    margin-bottom: 10px;
}

.form-horizontal .form-group{
    padding: 0 64px;
    margin: 0 0 16px 0;
    position: relative;
}
.form-horizontal .form-control{
    background: #f8fafb;
    border: none;
    border-radius: 20px;
    box-shadow: none;
    padding: 0 20px 0 45px;
    height: 40px;
    transition: all 0.3s ease 0s;
    color: #357ade;
    font-size: 14px;
    font-weight: 700;
}
.form-horizontal .form-control:focus{
    background: #f0f0f0;
    box-shadow: none;
    outline: 0 none;
}
.form-horizontal .form-group i{
    position: absolute;
    top: 10px;
    left: 84px;
    font-size: 17px;
    color: #c8c8c8;
    transition : all 0.5s ease 0s;
}
.password-icon{
    display: block;
    height: 20px;
    width: 20px;
    background-image: url(../imgs/password_icon.png)
}
.username-icon{
    display: block;
    height: 20px;
    width: 20px;
    background-image: url(../imgs/username_icon.png)
}
.form-horizontal .form-control:focus + i{
    color: #00b4ef;
}
.form-horizontal .fa-question-circle{
    display: inline-block;
    position: absolute;
    top: 12px;
    right: 60px;
    font-size: 20px;
    color: #808080;
    transition: all 0.5s ease 0s;
}
.form-horizontal .fa-question-circle:hover{
    color: #000;
}
.form-horizontal .main-checkbox{
    float: left;
    width: 16px;
    height: 16px;
    background: #f5f5f5;
    position: relative;
    margin: 8px 0 0 5px;
    border: 1px solid #f5f5f5;
}
.form-horizontal .main-checkbox label{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
.form-horizontal .main-checkbox label:after{
    content: "";
    width: 10px;
    height: 5px;
    position: absolute;
    top: 4px;
    left: 3px;
    border: 3px solid #000;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.form-horizontal .main-checkbox input[type=checkbox]{
    visibility: hidden;
}
.form-horizontal .main-checkbox input[type=checkbox]:checked + label:after{
    opacity: 1;
}
.form-horizontal .text{
    float: left;
    margin-left: 7px;
    line-height: 20px;
    padding-top: 5px;
    text-transform: capitalize;
}
.form-horizontal .btn{
    float: right;
    font-size: 18px;
    color: #fff;
    background: url(../imgs/login/login-btn.png);
    padding: 10px 35px;
    border: none;
    text-transform: capitalize;
    transition: all 0.5s ease 0s;
}
.opacity0{
    opacity: 0;
}
.opacity1{
    opacity: 1;
}
