<div class="approval">
    <div class="panel-body" style="background-color:#f8fafb;border-top:1px solid #e6ebee;border-bottom:1px solid #e6ebee;height:50px;padding:9px 0 0 0;">
        <div class="top-nav">
            <!--下拉搜索条件-->
            <div class="dropdown pull-left" style="margin-left:-20px;">
                <div class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="peopleType">所有人员</span><span class="caret"></span></div>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li class="btn-all"><a href="#">所有人员</a></li>
                    <li id="btn-employee"><a href="#">员工</a></li>
                    <li id="btn-visiter"><a href="#">访客</a></li>
                </ul>
            </div>
            <!--/下拉搜索条件-->
        </div>
    </div>
    <div class="table">
        {{each data}}
        <div class="personal-info">
            <div class="img-box">
                {{if $value.persontype==1}}
                <img src="imgs/employee-tip.png" alt="">
                {{else if $value.persontype==2}}
                <img src="imgs/visitor-tip.png" alt="">
                {{else if $value.visitorid!=undefind}}
                <img src="imgs/visitor-tip.png" alt="">
                {{else}}
                <img src="imgs/employee-tip.png" alt="">
                {{/if}}
                </div>
            <ul>
                <li><img src="{{$value.faceimage}}" alt="" width="50" height="50"><span>{{$value.name}}</span></li>
                <li>|</li>
                {{if $value.persontype==1}}
                <li>{{$value.job}}</li>
                {{else if $value.persontype==2}}
                <li>{{$value.remark}}</li>
                {{else if $value.visitorid!=undefind}}
                <li>{{$value.remark}}</li>
                {{else}}
                <li>{{$value.job}}</li>
                {{/if}}
                <li>|</li>
                <li ps_id={{$value.personid}} ps_type={{$value.persontype}}>
                    <button class="btn btn-default btn-show-approval">查看</button>
                    <button class="btn btn-default btn-pass ml24 psss{{$value.persontype}}">通过</button>
                    <button class="btn btn-default btn-refuse ml24 refuse{{$value.persontype}}">驳回</button>
                </li>
            </ul>
        </div>
        {{/each}}
    </div>
</div>