<div class="approval">
    <div class="">
        <div class="panel-body" style="padding:0px;">
        </div>
        <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist" style="height:62px;background:#f8fafb;padding-left:64px;">
                <li role="presentation" class="active"><a href="#undeal" id="deal-n" aria-controls="undeal" role="tab" data-toggle="tab">未处理</a></li>
                <li role="presentation" style="margin-left:50px;"><a href="#deal" id="deal-y" aria-controls="deal" role="tab" data-toggle="tab" class="">已处理</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="undeal">
                    <div>
                        <div class="top-nav" style="background-color:#edf2f6">
                            <div class="flex-between align-center">
                                <!--下拉搜索条件-->
                                <div class="dropdown pull-left" style="margin-left:0px;">
                                    <div class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="peopleType">所有人员</span><span class="caret"></span></div>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li class="btn-all"><a href="#">所有人员</a></li>
                                        <li class="btn-employee"><a href="#">员工</a></li>
                                        <li class="btn-visiter"><a href="#">访客</a></li>
                                    </ul>
                                </div>
                                <!--/下拉搜索条件-->
                                <div class="flex-between align-center">
                                    <div class="search">
                                        <div class="form-group">
                                            <input type="text" id="approval_search_word" style="background-color:#edf2f6;" class="form-control search-word" placeholder="请输入您要搜索的关键字">
                                            <button id="approval_search_btn" class="btn btn-blue btn-search" type="submit">搜索</button>
                                        </div>
                                    </div>
                                    <div style="margin-left:20px;">未处理<span style="color:#000;">{{sumsize}}</span>条</div>
                                    <div style="margin-left:20px;">即将过期<span style="color:#ffae45;">{{sumsize}}</span>条</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table">
                        <table class="table table-hover text-center my-table">
                            <thead>
                                <th class="text-center">人脸照片</th>
                                <th class="text-center">申请人</th>
                                <th class="text-center">人员类型</th>
                                <th class="text-center">授权组</th>
                                <th></th>
                                <th class="text-center">操作</th>
                            </thead>
                            <tbody>
                                {{each data.list}} {{if $value.status==1}}
                                <tr vs_id={{$value.visitorid}}>
                                    <td><img src="{{$value.defaultheadimg}}" alt="" width="50" height="50" class="text-center"></td>
                                    <td style="color:black;">{{$value.name}}</td>
                                    {{if $value.persontype==1}}
                                    <td style="color:black;">员工</td>
                                    {{else if $value.persontype==2}}
                                    <td style="color:black;">访客</td>
                                    {{else}}
                                    <td style="color:black;">陌生人</td>
                                    {{/if}}
                                    <td style="color:black;">{{$value.authorizationgroupname}}</td>
                                    <td style="color:#f3f3f3;">|</td>
                                    <td ps_id={{$value.personid}} ps_type={{$value.persontype}}>
                                        <button class="btn btn-default btn-show-approval show{{$value.persontype}}" ep_id={{$value.employeeid}}>查看</button>
                                        <button class="btn btn-default btn-pass ml24 pass{{$value.persontype}}" ep_id={{$value.employeeid}}>通过</button>
                                        <button class="btn btn-default btn-refuse ml24 refuse{{$value.persontype}}" ep_id={{$value.employeeid}}>驳回</button>
                                    </td>
                                </tr>
                                {{else}} {{/if}} {{/each}}
                            </tbody>
                        </table>
                        
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="deal">
                    <div>
                        <div class="top-nav" style="background-color:#edf2f6">
                            <div class="flex-between align-center">
                                <div class="flex-between align-center">
                                    <!--下拉搜索条件-->
                                    <div class="dropdown pull-left" style="margin-left:0px;">
                                        <div class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="peopleType">所有人员</span><span class="caret"></span></div>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                            <li class="btn-all"><a href="#">所有人员</a></li>
                                            <li class="btn-employee"><a href="#">员工</a></li>
                                            <li class="btn-visiter"><a href="#">访客</a></li>
                                        </ul>
                                    </div>
                                    <div class="dropdown pull-left" style="margin-left:0px;">
                                        <div class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="checkresult">审批结果</span><span class="caret"></span></div>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                            <li id="btn-agree"><a href="#">已通过</a></li>
                                            <li id="btn-refuse"><a href="#">已驳回</a></li>
                                            <li id="btn-overtimer"><a href="#">已失效</a></li>
                                        </ul>
                                    </div>
                                    <!--/下拉搜索条件-->
                                </div>
                                <div class="flex-between align-center">
                                    <div class="search">
                                        <div class="form-group">
                                            <input type="text" id="approval_search_word_n" style="background-color:#edf2f6;" class="form-control search-word" placeholder="请输入您要搜索的关键字">
                                            <button id="approval_search_btn_n" class="btn btn-blue btn-search" type="submit">搜索</button>
                                        </div>
                                    </div>
                                    <div style="margin-left:20px;">已失效<span style="color:#9fafbc;">{{data.count.expiredcount}}</span>条</div>
                                    <div style="margin-left:20px;">已通过<span style="color:#000;">{{data.count.passcount}}</span>条</div>
                                    <div style="margin-left:20px;">未通过<span style="color:#ffae45;">{{data.count.rejectcount}}</span>条</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table">
                        <table class="table table-hover text-center my-table">
                            <thead>
                                <th class="text-center">人脸照片</th>
                                <th class="text-center">申请人</th>
                                <th class="text-center">人员类型</th>
                                <th class="text-center">授权组</th>
                                <th class="text-center">审批结果</th>
                                <th></th>
                                <th class="text-center">操作</th>
                            </thead>
                            <tbody>
                                {{each data.list}} {{if $value.status!=1}}
                                <tr vs_id={{$value.visitorid}}>
                                    <td><img src="{{$value.defaultheadimg}}" alt="" width="50" height="50" class="text-center"></td>
                                    <td style="color:black;">{{$value.name}}</td>
                                    {{if $value.persontype==1}}
                                    <td style="color:black;">员工</td>
                                    {{else if $value.persontype==2}}
                                    <td style="color:black;">访客</td>
                                    {{else}}
                                    <td style="color:black;">陌生人</td>
                                    {{/if}}
                                    <td style="color:black;">{{$value.authorizationgroupname}}</td>
                                    {{if $value.status==2}}
                                    <td style="color:red;">已驳回</td>
                                    {{else if $value.status==3}}
                                    <td style="color:black;">已通过</td>
                                    {{else if $value.status==4}}
                                    <td style="color:#9fafbc;">已过期</td>
                                    {{else if $value.status==5}}
                                    <td style="color:#9fafbc;">已注销</td>
                                    {{else if $value.status==6}}
                                    <td style="color:#9fafbc;">已失效</td>
                                    {{/if}}
                                    <td style="color:#f3f3f3;">|</td>
                                    <td ps_id={{$value.personid}} ps_type={{$value.persontype}}>
                                        <button class="btn btn-default btn-show-approval show{{$value.persontype}}" ep_id={{$value.employeeid}}>查看</button>
                                    </td>
                                </tr>
                                {{else}} {{/if}} {{/each}}
                            </tbody>
                        </table>
                        <div class="pages">
                            <ul class="pagination" id="page1">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>