<div class="">
    <div class="panel-body" style="padding:0px;">
    </div>
    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" style="height:62px;background:#f8fafb;padding-left:64px;">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">授权组管理</a></li>
            <li role="presentation" style="margin-left:50px;"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" class="">访问授权设置</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content" style="padding-left:60px;padding-right:60px;padding-bottom:60px;">
            <div role="tabpanel" class="tab-pane active" id="home">
                <div class="">
                    <div class="flex-between" style="height:64px;">
                        <h3 class="panel-title" style="height:64px;line-height:64px;">授权组列表</h3>
                        <div class="align-center">
                            <span style="margin-right:20px;">已有授权组：10个</span>
                            <button type="text" id="author-add" class="" style="width:100px;height:40px;background:#357aed;color:#fff;border-radius:5px;border:0;">+新增授权组</button>
                        </div>
                    </div>
                    <div class="">
                        {{each data}}
                        <div class="panel panel-default" style="border-radius:0;">
                            <div class="panel-heading flex-between operate {{if $value.isdefault==1}}authorAct{{/if}}" style="background:#f8fafb;border-radius:0;padding:0;height:40px;font-weight:700;line-height:40px;align-items:center;">
                                <h3 class="panel-title" style="height:40px;line-height:40px;font-weight:700;margin-left:16px;font-size:14px;">{{$index+1}}.{{$value.name}}({{$value.deiviceList.length}})</h3>
                                <div class="flex-around operate_text" style="width:210px;margin-right:24px;" datanumber={{$value.datanumber}}>
                                    <div class="author-default">{{if $value.isdefault==1}}已设置为访客授权组{{else}}设置为默认访客授权组{{/if}}</div>
                                    <div class="author-edit">编辑</div>
                                    <div class="author-del">删除</div>
                                </div>
                            </div>
                            <div class="panel-body" style="padding-top:0px;padding-right:0px;">
                                {{each $value.deiviceList}}
                                <span style="display:inline-block;margin-right:24px;margin-top:16px;">{{$value.devicename}}</span>
                                {{/each}}
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="profile">
                <div class="" id="choiceRole" style="padding-top:50px;">
                    <div class="" style="height:77vh;min-height:440px;">
                        <div class="" style="margin-bottom:12px;">
                            <h3 class="panel-title" style="color:#000;">选择授权角色</h3>
                        </div>
                        <div class="flex-around" style="background-color:#fff;height:76vh;align-items:center;min-height:420px;">
                            <div class="flex-around" style="background-color:#fff;height:420px;width:80%;align-items:center;">
                            <div class="author-visitor author">
                                <div class="img-box"><img src="imgs/pic.jpg" alt="" width="145" height="145" style="border-radius:50%;"></div>
                                <button type="text" id="author-employee" style="height:40px;width:145px;background-color:#357aed;border-radius:5px;border:0;color:#fff;margin-top:64px;">授权给员工</button>
                            </div>
                            <div style="border-right:1px dashed #ccc;height:250px;"></div>
                            <div class="author-employee author">
                                <div class="img-box"><img src="imgs/pic.jpg" alt="" width="145" height="145" style="border-radius:50%;"></div>
                                <button type="text" id="author-visitor" style="height:40px;width:145px;background-color:#ffae45;border-radius:5px;border:0;color:#fff;margin-top:64px;">授权给访客</button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="authorizationInfoCon">

                </div>
            </div>
        </div>
    </div>
</div>