<div class="people-management">
    <div class="panel-body align-center" style="background-color:#f8fafb;border-top:1px solid #e6ebee;border-bottom:1px solid #e6ebee;height:77px;padding:0;">
        <div class="top-nav">
            <!--title-->
            <span class="iptinfo_text">组织架构</span>
            <span class="iptinfo_text">员工列表</span>
            <!--/title-->
            <div id="peopleAdd" class="btnAdd"></div>
            <div class="search">
                <div class="form-group">
                    <input type="text" id="people_search_word" class="form-control search-word" placeholder="请输入您要搜索的关键字">
                    <button id="people_search_btn" class="search-icon btn-search" type="submit"></button>
                </div>
                <!-- /input-group -->
            </div>
        </div>
    </div>
    <div class="">
        <div class="people-left">
            <div class="panel panel-default" style="width:214px;position:fixed;top:117px;z-index:999;margin-left:16px;border:0px;">
                <div class="panel-body" style="padding:0;">
                    <!--组织架构树-->
                    <div id="TreeList">

                    </div>
                </div>
            </div>
        </div>
        <div class="people-right" style="margin-left:220px;">
            <div class="info-content">
                {{each data}} {{if $value.status==3}}
                <div class="info col-sm-2">
                    <div class="btn-people-del" ep_id={{$value.employeeid}}>×</div>
                    <div class="info-box">
                        <div class="img-box">
                            {{if $value.headfaceimages[0]!=undefined}}
                            <img src="{{$value.headfaceimages[0]}}" alt=""> {{else}} {{/if}}
                        </div>
                        <p>{{$value.name}}</p>
                        <p>{{$value.job}}</p>
                        <h3 ep_id={{$value.employeeid}}><button class="btn-edit-course-baseinfo my-btn-edit">编辑</button></h3>
                    </div>
                </div>
                {{else}} {{/if}} {{/each}}

            </div>
        </div>
    </div>

    <div class="pages">
        <ul class="pagination" id="page1">
        </ul>
        <!--<div class="pageJump">
            <span>跳转到</span>
            <input type="text" />
            <span>页</span>
            <button type="button" class="button">确定</button>
        </div>-->
    </div>
</div>