<div class="" id="modalVisitantEdit">
    <div class="">
        <div class="panel-body" style="padding:0;">
            <div class="panel-body">
                <h4 class="panel-title">编辑人员信息</h4>
            </div>
            <div class="panel-body align-center" style="margin:60px;background-color:#fff;height:77vh;min-height:550px;padding:0;justify-content:center;margin-top:0;">
                <form class="form form-horizontal flex-between" style="background:#fff;height:550px;width:1012px;">
                    <div class="form-left" style="width:200px;">
                        <div class="form-group">
                            <h4 class="ipt_text" style="margin-left:56px;margin-top:30px;margin-bottom:30px;">添加人脸照片</h4>
                            <div class="img-box img_info_box mr32" id="firstdata" style="margin-left:50px;margin-bottom:24px;">
                                <img src="{{headfaceimages[0]}}" class="mainPIC ml10 picture1" alt="" width="100" height="100">
                                <p class="recording reminder_text pic1record mt16 text-center">(必选项)</p>
                                <p class="getHeadPic ipt_text mt8 text-center mainHeadPIC">请拍摄正脸获取正脸</p>
                            </div>
                            <div class="img-box img_info_box condition" id="seconddata" style="margin-left:50px;">
                                {{if headfaceimages[1]!=undefined}}
                                <img src="{{headfaceimages[1]}}" class="secPIC text-center ml10 picture2" alt="" width="100" height="100">                                {{else}}
                                <img class="secPIC text-center ml10 picture2" alt="" width="100" height="100"> {{/if}}
                                <p class="recording reminder_text pic2record mt16 text-center">(可选项)</p>
                                <p class="getHeadPic ipt_text mt8 text-center secHeadPIC">请摘掉眼镜获取正脸</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-right flex-between" style="flex:1;">
                        <div class="right-l" style="flex:1;">
                            <h4 class="ipt_text" style="margin-left:56px;margin-top:30px;margin-bottom:30px;">员工基本信息</h4>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">姓名</label>
                                <div class="col-sm-7">
                                    <input type="text" id="visitantInfoName" required="required" maxlength="20" class="form-control name" required="required"
                                        name="name" value="{{name}}" />
                                    <span class="asterisk">*</span>
                                </div>
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    document.getElementById("visitantInfoName").onpropertychange = document.getElementById(
                                            "visitantInfoName").onkeyup =
                                        function () {
                                            var lenE = this.value.length;
                                            if (lenE == 20) {
                                                alert("字数超限，请保持在20字以内")
                                            }
                                        }
                                })
                            </script>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">手机</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control phonenumber" minlength="11" maxlength="11" pattern="^1[3|4|5|7|8][0-9]{9}" required="required"
                                        name="phonenumber" id="VE-phonenumber" value="{{phonenumber}}" placeholder="请输入11位手机号码"
                                    />
                                    <span class="asterisk">*</span>
                                </div>
                            </div>
                            <script>
                                var user = document.getElementById("VE-phonenumber");
                                user.onblur = function () {
                                    if (user.value) {
                                        user.setCustomValidity(""); //现将有输入时的提示设置为空
                                    } else if (user.validity.valueMissing) {
                                        user.setCustomValidity("请输入11位手机号码");
                                    };
                                    if (user.validity.patternMismatch) {
                                        user.setCustomValidity("请输入正确的手机号码");
                                    }
                                };
                            </script>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">拜访事由</label>
                                <div class="col-sm-7">
                                    <input type="text" id="VE-remark" maxlength="10" class="form-control remark" name="remark" value="{{remark}}" placeholder="请输入拜访事由"
                                    />
                                    <span class="asterisk">*</span>
                                </div>
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    document.getElementById("VE-remark").onpropertychange = document.getElementById(
                                            "VE-remark").onkeyup =
                                        function () {
                                            var lenE = this.value.length;
                                            if (lenE == 10) {
                                                alert("字数超限，请保持在10字以内")
                                            }
                                        }
                                })
                            </script>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">授权组</label>
                                <div class="col-sm-7">
                                    <select id="VE-authorization" name="authorization" class="form-control authorization">
                                    
                                    </select><span class="asterisk">*</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">时间</label>
                                <div class="col-sm-7">
                                    <input type="text" id="VE-starttime" class="form-control date-join starttime" data-date-format="yyyy-mm-dd" name="starttime"
                                        value="{{starttime}}">
                                    <span class="asterisk">*</span>
                                </div>
                            </div>
                            <div class="form-group endtime-box">
                                <label for="endtime" id="endtimeLabel" class="col-sm-3 control-label">至</label>
                                <div class="col-sm-7">
                                    <input type="text" id="VE-endtime" class="form-control date-join endtime" data-date-format="yyyy-mm-dd" name="endtime" value="{{endtime}}">
                                    <span class="asterisk">*</span>
                                </div>
                            </div>
                            <!--<div class="form-group">
                                <label class="col-sm-3 control-label">考勤</label>
                                <div class="col-sm-7">
                                    <select id="PA-checking-in" name="checking-in" class="form-control checking-in">
                                    <option value="001">9-6-5</option>
                                    <option value="001002">9-9-6</option>
                                    </select><span class="asterisk">*</span>
                                </div>
                            </div>-->
                            <div class="form-group" style="margin-top:30px;">
                                <div class="text-center" style="margin-left:100px;" firstFacedatas={{facedatas[0]}} firstFaceimages={{faceimages[0]}} employeeid={{employeeid}}>
                                    <button type="submit" id="VE-submit" class="btn btn-blue text-center" secondFacedatas={{facedatas[1]}} secondFaceimages={{faceimages[1]}}>确认</button>
                                    <button type="text" class="btn btn-default my-btn-cancel text-center">取消</button>
                                </div>
                            </div>
                        </div>
                        <div class="right-r" style="flex:1;margin-top:72px;">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">性别</label>
                                <div class="col-sm-7">
                                    <select id="VE-sex" name="sex" class="form-control sex">
                                    {{if sex==1}}
                                    <option value="1" selected="selected">男</option>
                                    <option value="2">女</option>
                                    {{else}}
                                    <option value="1">男</option>
                                    <option value="2" selected="selected">女</option>
                                    {{/if}}
                            </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">生日</label>
                                <div class="col-sm-7">
                                    <input type="text" id="VE-birthday" class="form-control birthday-join" name="birthtime" value="{{birthtime}}" placeholder="请选择">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>