<div class="people-management">
    <div class="panel-body" style="background-color:#f8fafb;border-top:1px solid #e6ebee;border-bottom:1px solid #e6ebee;height:50px;padding:9px 0 0 0;">
        <div class="top-nav">
            <!--下拉搜索条件-->
            <div class="dropdown pull-left" style="margin-left:-20px;">
                <div class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">访客<span class="caret"></span></div>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li class="btn-peopleList"><a href="#">员工</a></li>
                    <li id="peopleVisitantList"><a href="#">访客</a></li>
                </ul>
            </div>
            <!--/下拉搜索条件-->
            <div id="visitantAdd" class="btnAdd"></div>
            <div class="search">
                <div class="form-group">
                    <input type="text" class="form-control search-word" placeholder="请输入您要搜索的关键字">
                    <button class="search-icon btn-search" type="submit"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="info-content">
        {{each data}}
        {{if $value.status==3}}
        <div class="info col-sm-2" style="background-image:url(imgs/visiting-tip.png)">
            <div class="btn-people-del btn-visitant-del" vs_id="{{$value.visitorid}}" vs_status="{{$value.status}}">×</div>
            <div class="info-box">
                <div class="img-box">
                    {{if $value.headfaceimages[0]!=undefined}}
                    <img src="{{$value.headfaceimages[0]}}" alt="">
                    {{else}}
                    {{/if}}
                    </div>
                <p>{{$value.name}}</p>
                <p>{{$value.remark}}</p>
                <h3 vs_id="{{$value.visitorid}}"><button class="btn btn-default btn-edit-visitant-baseinfo">信息</button></h3>
            </div>
        </div>
        {{else if $value.status==4}}
        <div class="info col-sm-2" style="background-image:url(imgs/visited-tip.png)">
            <div class="btn-people-del btn-visitant-del" vs_id="{{$value.visitorid}}" vs_status="{{$value.status}}">×</div>
            <div class="info-box">
                <div class="img-box">
                    {{if $value.headfaceimages[0]!=undefined}}
                    <img src="{{$value.headfaceimages[0]}}" alt="">
                    {{else}}
                    {{/if}}
                    </div>
                <p>{{$value.name}}</p>
                <p>{{$value.remark}}</p>
                <h3 vs_id="{{$value.visitorid}}"><button class="btn btn-default btn-edit-visitant-baseinfo">信息</button></h3>
            </div>
        </div>
        {{else}}
        <!--<div class="info col-sm-2" style="background-image:url(imgs/visited-tip.png)">
            <div class="btn-people-del btn-visitant-del" vs_id="{{$value.visitorid}}" vs_status="{{$value.status}}">×</div>
            <div class="info-box">
                <div class="img-box"><img src="{{$value.headfaceimages[0]}}" alt=""></div>
                <p>{{$value.name}}</p>
                <p>{{$value.remark}}</p>
                <h3 vs_id="{{$value.visitorid}}"><button class="btn btn-default btn-edit-visitant-baseinfo">信息</button></h3>
            </div>
        </div>-->
        {{/if}} 
        {{/each}}
        
    </div>
    <div class="pages">
        <ul class="pagination" id="page1">
        </ul>
        <!--<div class="pageJump">
            <span>跳转到</span>
            <input type="text" />
            <span>页</span>
            <button type="button" class="button">确定</button>
        </div>-->
    </div>
</div>