<div class="modal fade" id="modalShowRecord" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="margin-top:120px;padding-bottom:50px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><span class="black">{{name}}</span>的入库信息</h4>
            </div>
            <div class="modal-body">
                <div class="form-group" style="display:flex;justify-content:center;">
                <div class="img-box"><img src="{{headfaceimages[0]}}" alt="" width="100" height="100"></div>
                {{if headfaceimages[1]!=undefind}}
                <div class="img-box"><img src="{{headfaceimages[1]}}" alt="" width="100" height="100" style="margin-left:16px;"></div>
                {{/if}}
                </div>
                <p class="mt24"><span class="col-sm-2 col-sm-offset-1 text-right">姓名</span><span class="ml24 black">{{name}}</span></p>
                {{if starttime==undefined}}
                <p class="mt24"><span class="col-sm-2 col-sm-offset-1 text-right">职位</span><span class="ml24 black">{{job}}</span></p>
                {{else}}
                <p class="mt24"><span class="col-sm-2 col-sm-offset-1 text-right">访问事由</span><span class="ml24 black">{{remark}}</span></p>
                <p class="mt24"><span class="col-sm-2 col-sm-offset-1 text-right">访问时间</span><span class="ml24 black">{{starttime}}</span></p>
                <p class="mt24"><span class="col-sm-2 col-sm-offset-1 text-right">至</span><span class="ml24 black">{{endtime}}</span></p>
                {{/if}}
                <div class="form-group" style="margin-top:50px;">
                    <div class="col-sm-4 col-sm-offset-8">
                        <button type="text" class="btn btn-default" data-dismiss="modal" aria-label="Close">关闭</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>